@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 10px;
}
a{
    text-decoration: none;
    color: white;
}

.mov-to-top{
    position: fixed;
    height: 2.5rem;
    width: 2.5rem;
    top: 90%;
    right: 2%;
    color: white;
    background-image: linear-gradient(to right bottom,rgba(8, 88, 238, 0.85),rgba(0, 128, 255, 0.85),rgba(8, 88, 238, 0.85));
    border-radius: 5%;
    font-size: 1.5rem;
    text-align: center;
}
.header{
    height: 40vh;
    width: 100%;
    color: white;
    background-image: linear-gradient(to right bottom,rgba(8, 88, 238, 0.85),rgba(0, 128, 255, 0.85),rgba(8, 88, 238, 0.85)),linear-gradient(black,black);
    clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
}
.header__logo{
    height: 7rem;
    width: auto;
    z-index: 1;
}
.header__navigation{
    position: absolute;
    top:1rem ;
    right: 5%;
}
.header__navigation-item li{
    display: inline-block;
    margin-right: 3rem;
    font-size: 1rem;
    letter-spacing: .1rem;
    transition:  1s;
    padding-bottom: 0.5rem;
    cursor: pointer;
}
.header__navigation-item li::after {
    content: '';
    display: block;
    width: 0;
    margin-top: 0.5rem;
    height: 2px;
    background: #FFF;
    transition: width .3s;
}

.header__navigation li:hover::after {
    width: 100%;
}

.header__content{
    text-align: center;
    width: 80%;
    margin: 1rem auto 0 auto;
    font-size: 3rem;
    font-style: italic;
    padding: 1rem;
    animation: move_left 1s;
}
.main__heading{
        margin: 2rem auto;
        text-align: center;
        font-size: 2rem;
        background-image: linear-gradient(to right bottom,rgba(0, 128, 255, 0.85),rgba(8, 88, 238, 0.85));
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        font-weight: 900;
        transition: all 0.2s;
        width: 90vw;
}
.main__heading:hover{
    transform: scale(1.1);
    text-shadow: 0 1rem 2rem rgba(155, 89, 89, 0.2);
}
 

.main__content{
    width: 90%;
    margin: 2rem auto;
    text-align: center;
    background-image: linear-gradient(to right bottom,rgba(0, 128, 255, 0.85),rgba(8, 88, 238, 0.85));
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        font-weight: 900;
}
.main__content-card{
    display: inline-block;
    height: 20rem;
    width: 15rem;
    padding: 4rem;
    margin: 2rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) ;
    border-radius: 5px;
    font-size: 1.05rem;
}
.main__content-card-name{
    font-size: 1.2rem;
    margin: .5rem auto;
}
.main__content-card-position{
    color: #555;
}
.main__content-card img{
    border-radius: 50%;
}


.footer{
    background-color: #1a1a1a;
    height: 20rem;
    color: white;
    padding-top: 2rem;
}
.footer_logo{
    height: 10rem;
    width: auto;
    float: left;
}
.footer__social-icons{
    float: left;
    width: 33%;
    text-align: center;
    margin-top: 2rem;
}
.footer__social-icon-header{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.footer li {
    display: inline-block;
    text-decoration: none;
    margin-right: 3rem;
}
.footer i {
    color: white;
    font-size: 2rem;
    transition: all 0.2s;
}
.fb:hover{
    transform:scale(1.5) skew(10deg);
    color: #0f57f1;
}
.twit:hover{
    color:dodgerblue;
    transform:scale(1.4) skew(5deg);
}
.insta:hover{
    background-image:  radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    transform: scale(1.5);
}
.footer__contact-us{
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}
.footer__contact-us-heading{
    padding: 2rem 0 1rem 0;
    font-size:2rem;
}
.footer__copyright{
    margin: 5rem auto 2rem auto;
    padding-top: 2rem;
    width: 80%;
    clear: both;
    text-align: center;
    font-size: 1.1rem;
    color: rgba(255,255,255,0.3);
    border-top: 1px solid white;
}




@keyframes move_left{
    0%{
        opacity: 0;
        transform: translateX(-5rem);
    }
    80%{
        opacity: 0.5;
        transform: translateX(2rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}