@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}
a{
    text-decoration: none;
    color: white;
}
@media (max-width: 75em) {
    html {
        font-size: 56.25%;
    }
}

@media (max-width: 56.25em) {
    html {
        font-size: 50%;
    }
}

@media (min-width: 112.5em) {
    html {
        font-size: 75%;
    }
}



.mov-to-top{
    position: fixed;
    height: 2.5rem;
    width: 2.5rem;
    top: 90%;
    right: 2%;
    color: white;
    background-image: linear-gradient(to right bottom,rgba(8, 88, 238, 0.85),rgba(0, 128, 255, 0.85),rgba(8, 88, 238, 0.85));
    border-radius: 5%;
    font-size: 1.5rem;
    text-align: center;
}
.header{
    height: 40vh;
    width: 100%;
    color: white;
    background-image: linear-gradient(to right bottom,rgba(8, 88, 238, 0.85),rgba(0, 128, 255, 0.85),rgba(8, 88, 238, 0.85)),linear-gradient(black,black);
    clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
}
.header__logo{
    height: 7rem;
    width: auto;
    z-index: 1;
}
.header__navigation{
    position: absolute;
    top:1rem ;
    right: 5%;
}
.header__navigation-item li{
    display: inline-block;
    margin-right: 3rem;
    font-size: 1rem;
    letter-spacing: .1rem;
    transition:  1s;
    padding-bottom: 0.5rem;
    cursor: pointer;
}
.header__navigation-item li::after {
    content: '';
    display: block;
    width: 0;
    margin-top: 0.5rem;
    height: 2px;
    background: #FFF;
    transition: width .3s;
}

.header__navigation li:hover::after {
    width: 100%;
}

.header__content{
    text-align: center;
    width: 80%;
    margin: 1rem auto 0 auto;
    font-size: 3rem;
    font-style: italic;
    padding: 1rem;
    animation: move_left 1s;
}

.gradient-heading{
    background-image: linear-gradient(to right bottom,rgba(0, 128, 255, 0.85),rgba(8, 88, 238, 0.85));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    font-weight: 900;
    transition: all 0.2s;
}
.main__content .gradient-heading:hover{
    transform: scale(1.1);
    text-shadow: 0 1rem 2rem rgba(155, 89, 89, 0.2);
}
.main{
    width: 80%;
    margin: 2rem auto;
    text-align: center;
}
.main__content-past-events{
    color: #555;
}
.main__content-past-event-heading{
    font-size: 2rem;
    margin: 4rem 0;
}
.main__content-past-event{
    width: 40%;
    height: 20rem;
    display: inline-block;
    margin: 1rem;
    position: relative;
    cursor: pointer;
}
.main__content-past-event:hover{
    box-shadow: 0 5px 1rem black;
    transform: translateY(-0.2rem);
}
.main__content-past-event-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(2px);
    height: 100%;
}
.main__content-past-event-name{
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    color: white;
    font-size: 4rem;
    filter: blur(-2px);
    transition: all .2s;
}


.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

}
    .popup__content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 75%;
        height: 50%;
        background-color: white;
        box-shadow: 0 2rem 4rem rgba(black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .2s;
        padding: 1rem;
    }

    .popup__left {
        width: 33.333333%;
        display: table-cell;
        vertical-align: middle;
    }

    .popup__right {
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    .popup__img {
        display: block;
        width: 100%;
    }

    .popup__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
    }

    /* //Open states */
    #WinterOfCode:target{
        opacity: 1;
        visibility: visible;
    }

    #WinterOfCode:target .popup__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    #Flutter:target{
        opacity: 1;
        visibility: visible;
    }

    #Flutter:target .popup__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    #Angular:target{
        opacity: 1;
        visibility: visible;
    }

    #Angular:target .popup__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    #Devfest:target{
        opacity: 1;
        visibility: visible;
    }

    #Devfest:target .popup__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    #Python:target{
        opacity: 1;
        visibility: visible;
    }

    #Python:target .popup__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    .popup__close:link,
        .popup__close:visited {
            color: #555;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }
        .popup__close:hover {
            color: dodgerblue;
        }







        @media (min-width: 75rem){
            .footer{
                position: relative;
            }
            .footer__logo{
                float: left;
            }
        }
        .footer{
            background-color: #1a1a1a;
            height: 22rem;
            color: white;
            padding-top: 2rem;
        }
        .footer_logo-img{
            height: 10rem;
            margin: 0 5rem ;
            display: inline-block;
        }
        .footer__social-icons{
            float: left;
            width: 33%;
            text-align: center;
            margin-top: 2rem;
        }
        .footer__social-icon-header{
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        .footer li {
            display: inline-block;
            text-decoration: none;
            margin-right: 3rem;
        }
        .footer i {
            color: white;
            font-size: 2rem;
            transition: all 0.2s;
        }
        .fb:hover{
            transform:scale(1.5) skew(10deg);
            color: #0f57f1;
        }
        .twit:hover{
            color:dodgerblue;
            transform:scale(1.4) skew(5deg);
        }
        .insta:hover{
            background-image:  radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            transform: scale(1.5);
        }
        .footer__contact-us{
            width: 33%;
            display: inline-block;
            text-align: center;
            font-size: 1rem;
            letter-spacing: 0.1rem;
        }
        .footer__contact-us-heading{
            font-size:2rem;
            margin: 2rem 0 1rem 0;
        }
        @media (max-width: 75em) {
            .footer{
                height: 40rem;
            }
            .footer__logo , .footer__contact-us ,.footer__social-icons{
                display: block;
                margin: 2rem 0;
                width: 100%;
                text-align: center;
            }
            .main__content-past-event{
                width: 80%;
            }
        }
        .footer__copyright{
            margin: 5rem auto 2rem auto;
            padding-top: 2rem;
            width: 80%;
            clear: both;
            text-align: center;
            font-size: 1.1rem;
            color: rgba(255,255,255,0.3);
            border-top: 1px solid white;
        }
@keyframes move_left{
    0%{
        opacity: 0;
        transform: translateX(-5rem);
    }
    80%{
        opacity: 0.5;
        transform: translateX(2rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}